language: generic
sudo: required
services:
    - docker

before_install:
    - docker build -t kurt/react -f Dockerfile.dev .

script:
    - docker run -e CI=true  kurt/react npm run test

deploy:
    provider: elasticbeanstalk
    region: "us-east-1"
    app: "docker react"
    env: "DockerReact-env-1"
    bucket_name: "elasticbeanstalk-us-east-1-024016536828"
    bucket_path: "docker react"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
